body { background: #ffffff; }
.header {
  text-align: center;
  font-size: 40px;
  font-style: oblique;
  padding: 20px 10px;
}
.flexbox {
  background-color: #a6a6a6;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  font-size: 23px;
}
.flexbox > a {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
a:hover {
  background-color: #e6e6e6;
  color :#EEA200;
}
a {
  padding: 22px 10px;
  transition: 0.4s;
}
